<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"><title>Members</title>
</head>
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>이메일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.name}"></td>
                <td th:text="${member.email}"></td>
            </tr>
            </tbody>
        </table>
        <p>
            <a href="/members/new">Sign Up</a>
            <a href="/">홈으로</a>
        </p>
    </div>
</div>
</body>
</html>